<!-- Left menu -->
<div class="col-xl-3 col-md-12">
    <div class="left-menu">
        <ul>
            <li><a{{ active_account }} href="{{ account }}">{{ text_account }}</a></li>
            <li><a{{ active_order }} href="{{ order }}">{{ text_order }}</a></li>
            <li><a{{ active_wishlist }} href="{{ wishlist }}">{{ text_wishlist }}</a></li>
            <li><a{{ active_reward }} href="{{ reward }}">{{ text_reward }}</a></li>
            <li><a{{ active_transaction }} href="{{ transaction }}">{{ text_transaction }}</a></li>
        </ul>
    </div>
</div>